@model Objects.AccountActivatedNotificationDto

@using Microsoft.Extensions.Configuration
@using PhpbbInDotnet.Domain

@inject ICommonUtils _utils
@inject IConfiguration _config
@inject Languages.LanguageProvider _languageProvider

@{
    var baseUrl = _config.GetValue<string>("BaseUrl");
    var forumName = _config.GetValue<string>("ForumName");
}

<p>
    @Html.Raw(_languageProvider.Email[Model.Language, "GREETING_BEGIN"])
</p>
<p>
    @Html.Raw(string.Format(_languageProvider.Email[Model.Language, "ACCOUNT_ACTIVATED_NOTIFICATION_BODY_FORMAT"], baseUrl, forumName, Model.Username))
</p>
<p style="font-size:0.85em">
    @Html.Raw(string.Format(_languageProvider.Email[Model.Language, "WELCOME_FOOTER_FORMAT"], Model.Username, baseUrl, forumName))
</p>
<p>
    @Html.Raw(_languageProvider.Email[Model.Language, "GREETING_END"])
</p>