@model SimpleEmailBody

@using Microsoft.Extensions.Configuration
@using Domain
@using Objects.EmailDtos

@inject IConfiguration _config
@inject Languages.ITranslationProvider _translationProvider

@{
    var baseUrl = _config.GetValue<string>("BaseUrl");
    var forumName = _config.GetValue<string>("ForumName");
}

<p>
    @Html.Raw(_translationProvider.Email[Model.Language, "GREETING_BEGIN"])
</p>
<p>
    @Html.Raw(string.Format(_translationProvider.Email[Model.Language, "ACCOUNT_ACTIVATED_NOTIFICATION_BODY_FORMAT"], baseUrl, forumName, Model.UserName))
</p>
<p style="font-size:0.85em">
    @Html.Raw(string.Format(_translationProvider.Email[Model.Language, "WELCOME_FOOTER_FORMAT"], Model.UserName, baseUrl, forumName))
</p>
<p>
    @Html.Raw(_translationProvider.Email[Model.Language, "GREETING_END"])
</p>