@model PhpbbInDotnet.Forum.Pages.CustomPartials.Email._ResetPasswordPartialModel

@using Microsoft.Extensions.Configuration
@using PhpbbInDotnet.Utilities

@inject CommonUtils _utils
@inject IConfiguration _config
@inject Languages.LanguageProvider _languageProvider

@{
    var lang = _languageProvider.GetValidatedLanguage(null, Model.HttpContext?.Request);
}

<h3>@string.Format(_languageProvider.Email[lang, "RESETPASS_SUBJECT_FORMAT"], _config.GetValue<string>("ForumName"))</h3>
<p>
    @Html.Raw(string.Format(_languageProvider.Email[lang, "RESETPASS_BODY_FORMAT"], $"{_config.GetValue<string>("BaseUrl")}/Login?resetPasswordCode={Model.Code}&userId={Model.UserId}&init={Model.IV:n}&handler=newPassword"))
</p>
<p style="font-size:0.85em">
    @Html.Raw(string.Format(_languageProvider.Email[lang, "RESETPASS_FOOTER_FORMAT"], Model.UserName, _config.GetValue<string>("BaseUrl"), _config.GetValue<string>("ForumName")))
</p>
@_languageProvider.Email[lang, "GREETING_END"]