@model ResetPasswordDto

@using Microsoft.Extensions.Configuration
@using Domain
@using Objects.EmailDtos

@inject IConfiguration _config
@inject Languages.ITranslationProvider _translationProvider

<h3>@Html.Raw(string.Format(_translationProvider.Email[Model.Language, "RESETPASS_SUBJECT_FORMAT"], _config.GetValue<string>("ForumName")))</h3>
<p>
    @Html.Raw(string.Format(_translationProvider.Email[Model.Language, "RESETPASS_BODY_FORMAT"], $"{_config.GetValue<string>("BaseUrl").TrimEnd('/')}/Login?resetPasswordCode={Model.Code}&userId={Model.UserId}&init={Model.IV:n}&handler=newPassword"))
</p>
<p style="font-size:0.85em">
    @Html.Raw(string.Format(_translationProvider.Email[Model.Language, "RESETPASS_FOOTER_FORMAT"], Model.UserName, _config.GetValue<string>("BaseUrl"), _config.GetValue<string>("ForumName")))
</p>
@Html.Raw(_translationProvider.Email[Model.Language, "GREETING_END"])