@model PhpbbInDotnet.Forum.Pages.CustomPartials.Email._ResetPasswordPartialModel

@using Microsoft.Extensions.Configuration
@using PhpbbInDotnet.Domain

@inject ICommonUtils _utils
@inject IConfiguration _config
@inject Languages.ITranslationProvider _translationProvider
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor

@{
    var lang = _translationProvider.GetValidatedLanguage(null, _httpContextAccessor.HttpContext?.Request);
}

<h3>@Html.Raw(string.Format(_translationProvider.Email[lang, "RESETPASS_SUBJECT_FORMAT"], _config.GetValue<string>("ForumName")))</h3>
<p>
    @Html.Raw(string.Format(_translationProvider.Email[lang, "RESETPASS_BODY_FORMAT"], $"{_config.GetValue<string>("BaseUrl")}/Login?resetPasswordCode={Model.Code}&userId={Model.UserId}&init={Model.IV:n}&handler=newPassword"))
</p>
<p style="font-size:0.85em">
    @Html.Raw(string.Format(_translationProvider.Email[lang, "RESETPASS_FOOTER_FORMAT"], Model.UserName, _config.GetValue<string>("BaseUrl"), _config.GetValue<string>("ForumName")))
</p>
@Html.Raw(_translationProvider.Email[lang, "GREETING_END"])