@model PhpbbInDotnet.Forum.Pages.CustomPartials.Email._WelcomeEmailPartialModel

@using Microsoft.Extensions.Configuration
@using PhpbbInDotnet.Utilities

@inject CommonUtils _utils
@inject IConfiguration _config
@inject Languages.LanguageProvider _languageProvider
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor

@{
    var lang = _languageProvider.GetValidatedLanguage(null, _httpContextAccessor.HttpContext?.Request);
}

<h3>@Model.Subject</h3>
<p>
    @Html.Raw(string.Format(_languageProvider.Email[lang, "WELCOME_BODY_FORMAT"], $"{_config.GetValue<string>("BaseUrl")}/Confirm?code={Model.RegistrationCode}&username={_utils.CleanString(Model.UserName)}&handler=ConfirmEmail"))
</p>
<p style="font-size:0.85em">
    @Html.Raw(string.Format(_languageProvider.Email[lang, "WELCOME_FOOTER_FORMAT"], Model.UserName, _config.GetValue<string>("BaseUrl"), _config.GetValue<string>("ForumName")))
</p>
@_languageProvider.Email[lang, "GREETING_END"]