@model Serverless.Forum.Pages.CustomPartials.Email._NewUserNotificationModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration _config

Salut
<br />
<br />
Următorul cont a fost creat recent: @Model.Username
<br />
<br />
<a href="@(_config.GetValue<string>("BaseUrl"))/Admin">Vezi utilizatorii inactivi</a>
<br />
<br />
O zi frumoasă!