@page "/download/file.php"
@model Serverless.Forum.Pages.__PhpbbRedirects_fileModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>__PhpbbRedirects_file</title>
</head>
<body>
</body>
</html>
