@page "/viewtopic.php"
@model Serverless.Forum.Pages.__PhpbbRedirects_viewtopicModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>__PhpbbRedirects_viewtopic</title>
</head>
<body>
</body>
</html>
