@page
@model Serverless.Forum.Pages.AboutCookiesModel
@{
    ViewData["Title"] = "AboutCookies";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Despre Cookie-uri</h2>

<h3>Cookie-urile</h3>

Pentru a asigura buna funcționare a acestui site, uneori plasăm în computerul dumneavoastră mici fișiere cu date, cunoscute sub numele de cookie-uri. 
Majoritatea site-urilor mari fac acest lucru.<br /><br />

<h3>Ce se înțelege prin cookie-uri?</h3>

Cookie-ul este un fişier text de mici dimensiuni pe care un site îl salvează în calculatorul sau dispozitivul dumneavoastră mobil atunci când îl vizitaţi. 
Datorită cookie-urilor, site-ul reţine, pe o perioadă de timp, acţiunile şi preferinţele dumneavoastră (login, limbă, dimensiunea caracterelor şi alte 
preferinţe de afişare). Astfel nu mai trebuie să le reintroduceţi ori de câte ori reveniţi la site sau navigaţi de pe o pagină pe alta. <br /><br />

<h3>Cum se folosesc cookie-urile?</h3>

Cookie-urile noastre personalizează conținutul afișat, prin reținerea setărilor caracteristice fiecărui utilizator (abonare la subiecte, formatul date 
afișate, evidențierea subiectelor active sau cu răspunsuri noi etc).<br /><br />

Cookie-urile terțe sunt specifice site-ului de care aparțin, căruia îi revine întreaga responsabilitate privind utilizarea lor. Noi folosim cookie-uri 
de la <a href="https://facebook.com" target="_blank">facebook.com</a>, <a href="https://youtube.com" target="_blank">youtube.com</a>, 
<a href="https://flickr.com" target="_blank">flickr.com</a> și <a href="https://imgur.com" target="_blank">imgur.com</a>.<br /><br />

<h3>Cum puteţi controla cookie-urile?</h3>

Puteţi controla şi/sau şterge cookie-urile după cum doriţi – pentru detalii, consultaţi site-ul <a href="http://aboutcookies.org" target="_blank">aboutcookies.org</a>.  Puteți șterge toate cookie-urile din calculatorul dumneavoastră și 
puteți seta majoritatea browserelor să blocheze plasarea acestora. Dacă faceţi acest lucru, este posibil să fiţi nevoit să setaţi manual unele 
preferinţe, de fiecare dată când vizitaţi site-ul. De asemenea, s-ar putea ca unele servicii sau opţiuni să nu funcţioneze.<br /><br />

<a href="./">Înapoi la @Serverless.Forum.Utilities.Constants.FORUM_NAME</a><br />
