@page
@model Serverless.Forum.Pages.ConfirmModel
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<span style="font-size:1.2em">@Html.Raw(Model.Message)</span>
<p>&nbsp;</p>
<a asp-page="./Login">Login</a><br/>
<a asp-page="./">Prima pagină</a>

