@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">A intervenit o eroare.</h2>


<p>
    <strong>ID: </strong> <code>@Model.RequestId</code>
</p>

<p>
    Dacă eroarea persistă, scrieți la <a href="mailto:admin@metrouusor.com">admin@@metrouusor.com</a> și includeți IDul de mai sus.
</p>
