@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">A intervenit o eroare.</h2>

@if (Model.IsUnauthorized)
{
    <p>Nu ești autorizat să vizitezi pagina solicitată.</p>
}
else if (Model.IsNotFound)
{
    <p>Pagina solicitată nu există.</p>
}
else
{
    if (!string.IsNullOrWhiteSpace(Model.ErrorId))
    {
        <p>
            <strong>ID: </strong> <code>@Model.ErrorId</code>
        </p>
    }
    <p>
        Dacă eroarea persistă, scrieți la <a href="mailto:admin@metrouusor.com">admin@@metrouusor.com</a>
        @if (!string.IsNullOrWhiteSpace(Model.ErrorId))
        {
            <span> și includeți IDul de mai sus.</span>
        }
        else
        {
            <span>.</span>
        }
    </p>
}