@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var UserDateFormat = (await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
    var IsAnonymous = Model.CurrentUserId == 1;
}

<h2>Forumul Metrou Ușor</h2>
@if (!IsAnonymous)
{
    <a href="#" onclick="MarkForumsRead.submit()" style="float:right; margin-top:10px; margin-bottom:10px">Marchează forumurile ca citite</a>
}
@await Html.PartialAsync(
    "_ForumDisplayPartial",
    new Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel(Model.Forums, UserDateFormat, false),
    ViewData
)
