@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var UserDateFormat = (await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
    var IsAnonymous = Model.CurrentUserId == Utilities.Constants.ANONYMOUS_USER_ID;
}

<style>
    .linksContainer {
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bullet {
        display: inline;
    }

    .newline {
        display: none;
        height: 1px;
    }

    @@media (max-width: 400px) {
        .bullet {
            display: none;
        }
        .newline {
            display: block;
        }
    }
</style>

@if (!IsAnonymous)
{
    <span class="linksContainer">
        <a asp-page="ViewForum" asp-page-handler="newPosts">Vezi mesajele noi</a>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <p class="newline"></p>
        <a href="#" onclick="MarkForumsRead.submit()">Marchează forumurile ca citite</a>
    </span>
}
@await Html.PartialAsync(
    "_ForumDisplayPartial",
    new Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel(Model.Forum, UserDateFormat, false),
    ViewData
)
