@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var usr = await Model.GetCurrentUserAsync();
    var UserDateFormat = usr?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
}

<style>
    .linksContainer {
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bullet {
        display: inline;
    }

    .newline {
        display: none;
        height: 1px;
    }

    @@media (max-width: 400px) {
        .bullet {
            display: none;
        }

        .newline {
            display: block;
        }
    }
</style>

<a href="javascript:showElement('metrouusorLinks');" class="Show1300">Site-urile „MetrouUșor”</a>
<ul class="Shortcuts Hide1300" id="metrouusorLinks">
    <li><a href="https://metrouusor.com" target="_blank">Asociația „Metrou Ușor”</a></li>
    <li><a href="https://www.facebook.com/MetrouUsor/" target="_blank">Facebook</a></li>
    <li><a href="https://youtube.com/channel/UCczAlitk6NaUjQsbtCSdEjA" target="_blank">Youtube</a></li>
    <li><a href="https://www.facebook.com/InitiativaMTB/" target="_blank">Inițiativa pentru Muzeul transportului bucureștean</a></li>
    <li><a href="https://metrouusor.com/Content/implica-te/directioneaza-2-din-impozit.html" target="_blank">2% pentru Asociația „Metrou Ușor”</a></li>
    <li><a href="./ViewTopic?topicId=5252&pageNum=1">Sugestii sau reclamații pentru noul forum</a></li>
    <li><a href="https://forum.metrouusor.com">Înapoi la vechiul forum</a></li>
</ul>

@if (!usr.IsAnonymous)
{
    <form asp-page-handler="MarkForumsRead" method="post" name="MarkForumsRead">
        @Html.AntiForgeryToken()
    </form>
    <div class="linksContainer">
        <a asp-page="ViewForum" asp-page-handler="ownPosts">Vezi subiectele proprii</a>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <div class="newline"></div>
        <a asp-page="ViewForum" asp-page-handler="newPosts">Vezi mesajele noi</a>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <div class="newline"></div>
        <a href="javascript:MarkForumsRead.submit()">Marchează forumurile ca citite</a>
    </div>
}
@await Html.PartialAsync(
    "_ForumDisplayPartial",
    new Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel(0, Model.Tree, UserDateFormat, false, usr),
    ViewData
)
