@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var usr = await Model.GetCurrentUserAsync();
    var UserDateFormat = usr?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
    var IsAnonymous = usr?.UserId == Utilities.Constants.ANONYMOUS_USER_ID;
}

<style>
    .linksContainer {
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bullet {
        display: inline;
    }

    .newline {
        display: none;
        height: 1px;
    }

    @@media (max-width: 400px) {
        .bullet {
            display: none;
        }

        .newline {
            display: block;
        }
    }
</style>

@if (!IsAnonymous)
{
    <form asp-page-handler="MarkForumsRead" method="post" name="MarkForumsRead">
        @Html.AntiForgeryToken()
    </form>
    <div class="linksContainer">
        <a asp-page="ViewForum" asp-page-handler="ownPosts">Vezi subiectele proprii</a>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <div class="newline"></div>
        <a asp-page="ViewForum" asp-page-handler="newPosts">Vezi mesajele noi</a>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <div class="newline"></div>
        <a href="javascript:MarkForumsRead.submit()">Marchează forumurile ca citite</a>
    </div>
}
@await Html.PartialAsync(
    "_ForumDisplayPartial",
    new Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel(0, Model.Tree, UserDateFormat, false, usr),
    ViewData
)
