@page
@model Serverless.Forum.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Login</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <p>&nbsp;</p>
    <input type="text" name="UserName" asp-for="UserName" placeholder="Nume utilizator" class="form" />
    <p>&nbsp;</p>
    <input type="password" name="Password" asp-for="Password" placeholder="Parola" class="form" />
    <p>&nbsp;</p>
    <input name="returnUrl" type="hidden" asp-for="ReturnUrl" class="form" />
    <input type="submit" value="Login" class="form" />
    @Html.AntiForgeryToken()
</form>
<div style="visibility:@string.IsNullOrEmpty(Model.ErrorMessage) ? hidden : visible">@Model.ErrorMessage</div>