@page
@model Serverless.Forum.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Login</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table border="0">
        <tr>
            <td width="100px" height="30px" valign="middle">Username:</td>
            <td width="100px" height="30px" valign="middle"><input name="username" value="" /></td>
        </tr>
        <tr>
            <td width="100px" height="30px" valign="middle">Password:</td>
            <td width="100px" height="30px" valign="middle"><input name="password" value="" type="password" /></td>
        </tr>
        <tr>
            <td width="100px" height="30px" valign="middle">Remember me:</td>
            <td width="100px" height="30px" valign="middle"><input name="rememberMe" type="checkbox" value="true" /></td>
        </tr>
    </table>
    <input name="returnUrl" type="hidden" value='@Model.returnUrl' />
    <input type="submit" value="Login" />
    @Html.AntiForgeryToken()
</form>
<div style="visibility:@string.IsNullOrEmpty(Model.errorMessage) ? hidden : visible">@Model.errorMessage</div>