@page
@model Serverless.Forum.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/_Layout.cshtml";
}

@inject Microsoft.Extensions.Configuration.IConfiguration _config;

<h2>Înregistrează-te</h2>

<form asp-controller="Home" method="post" onsubmit="return validateCaptcha();">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table border="0" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <td>
                <input type="text" name="Email" asp-for="Email" placeholder="Email" />
            </td>
            <td class="tablecell">
                <span asp-validation-for="Email" class="validation"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="UserName" asp-for="UserName" placeholder="Nume utilizator" />
            </td>
            <td class="tablecell">
                <span asp-validation-for="UserName" class="validation"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="Password" asp-for="Password" placeholder="Parola" />
            </td>
            <td class="tablecell">
                <span>
                    <span asp-validation-for="Password" class="validation"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="SecondPassword" asp-for="SecondPassword" placeholder="Repetă parola" />
            </td>
            <td class="tablecell">
                <span asp-validation-for="SecondPassword" class="validation"></span>
            </td>
        </tr>
        <tr>
            <td>
               <input type="checkbox" asp-for="Agree" /> Sunt de acord cu <a asp-page="/TermsAndConditions" target="_blank">termenele și condițiile de utilizare</a>
            </td>
            <td class="tablecell">
                <span asp-validation-for="Agree" class="validation"></span>
            </td>
        </tr>
        <tr>
            <td class="tablecell">
                    <div class="g-recaptcha" data-sitekey="@_config["Recaptcha:SiteKey"]" data-callback="recaptchaCallback"></div>
            </td>
            <td class="tablecell">
                <span class="validation" style="visibility:hidden" id="reCaptchaErrorMessage">Te rugăm să bifezi aici.</span>
            </td>
        </tr>
        <tr>
            <td class="tablecell" colspan="3">
                <input type="submit" value="Trimite" />
            </td>
        </tr>
    </table>
    @Html.AntiForgeryToken()
</form>



<script>
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            return element.checked;
        } else {
            return defaultRangeValidator.call(this, value, element, param);
        }
    }

    window.onload = function () {
        var $recaptcha = document.querySelector('#g-recaptcha-response');
        if ($recaptcha) {
            $recaptcha.setAttribute("required", "required");
        };
    };

    function recaptchaCallback() {
        var error = document.getElementById("reCaptchaErrorMessage");
        if (error.style.visibility == "visible") {
            error.style.visibility = "hidden";
        }
    }

    function validateCaptcha() {
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
            document.getElementById("reCaptchaErrorMessage").style.visibility = "visible";
            return false;
        }
        return true;
    }
</script>
