@page
@model Serverless.Forum.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Pages/_Layout.cshtml";
    var dateFormat = (await Model.GetCurrentUserAsync()).UserDateFormat;
}

<h2>Caută</h2>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>
<form method="post">
    <input asp-for="QueryString" type="hidden" />
    <input asp-for="PageNumber" type="hidden" />
    <input asp-for="TotalResults" type="hidden"/>

    <input asp-for="SearchText" type="text" placeholder="Caută după text..." style="width:100%" />
    <p>&nbsp;</p>
    Caută în forumul...
    <div style="height:400px; max-height:600px; overflow-y:scroll">
        @await Html.PartialAsync(
            "_ForumTreePartial",
             new _ForumTreePartialModel
             {
                 Forums = await Model.GetForumTree(),
                 ForumId = Model.ForumId,
                 TopicId = Model.TopicId,
                 PathToForumOrTopic = await Model.PathToForumOrTopic(Model.ForumId, Model.TopicId)
             },
            ViewData
        )
    </div>
    <input asp-for="ForumId" type="hidden" id="ForumIdInput" />
    <p>&nbsp;</p>
    <select name="TopicId" id="TopicIdDisplay" style="width:100%">
        <option selected disabled value="-1">Caută în subiectul...</option>
        <option value="0">Caută în toate subiectele</option>
    </select>
    <p>&nbsp;</p>
    <input asp-for="AuthorId" type="text" placeholder="Caută după autor..." id="AuthorInput" style="width:100%" />
    <p>&nbsp;</p>
    <input type="submit" value="Trimite" />
</form>

@if (Model.Posts != null && Model.Posts.Any())
{
    <h2>Rezultate</h2>
    foreach (var post in Model.Posts)
    {
        <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@post.PostId"><h4>@Html.Raw(post.PostSubject)</h4></a>
        <p>@Html.Raw(post.PostText)</p>
        <p>&nbsp;</p>
    }
}

<link rel="stylesheet" href="~/lib/tribute/dist/tribute.css" />
<script src="~/lib/tribute/dist/tribute.js"></script>
<script>
    var tribute = new Tribute({
        values: @Json.Serialize(Model.Users) ,
        autocompleteMode:true
        });

    tribute.attach(document.getElementById("AuthorInput"));

    
</script>