@page "/download/file.php"
@model Serverless.Forum.Pages.PhpbbRedirects.fileModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>file.php</title>
</head>
<body>
</body>
</html>
