@page "/viewtopic.php"
@model Serverless.Forum.Pages.PhpbbRedirects.viewtopicModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewtopic.php</title>
</head>
<body>
</body>
</html>
