@page "/viewforum.php"
@model Serverless.Forum.Pages.PhpbbRedirects.viewforumModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>__PhpbbRedirects_viewforum</title>
</head>
<body>
</body>
</html>
