@model Serverless.Forum.Pages.CustomPartials.Email._NewUserNotificationModel
Salut
<br />
<br />
Următorul cont a fost creat recent: @Model.Username
<br />
<br />
<a href="@Utilities.Constants.FORUM_BASE_URL/Admin">Vezi utilizatorii inactivi</a>
<br />
<br />
O zi frumoasă!