@model PhpbbInDotnet.Forum.Pages.CustomPartials._HeaderLinksPartialModel

<span>
    <a href="javascript:showElement('headerLinks');">Meniu</a>
</span>
<ul class="Shortcuts" style="display:none" id="headerLinks">
    <li>
        <span>&nbsp; &nbsp; </span>
        <a asp-page="ViewForum" asp-page-handler="ownPosts" class="nowrap">Subiecte proprii</a>
    </li>
    <li>
        <span>&nbsp; &nbsp; </span>
        <a asp-page="ViewForum" asp-page-handler="newPosts" class="nowrap">Mesaje noi</a>
    </li>
    <li>
        <span>&nbsp; &nbsp; </span>
        <a asp-page="ViewForum" asp-page-handler="drafts" class="nowrap">Mesaje în lucru</a>
    </li>
    <li>
        <span>&nbsp; &nbsp; </span>
        <a asp-page="/MemberList">Membrii forumului</a>
    </li>

    @foreach (var elem in Model.ExtraElements ?? Enumerable.Empty<string>())
    {
        <li>
            <span>&nbsp; &nbsp; </span>
            @Html.Raw(elem)
        </li>
    }
</ul>
