@model PhpbbInDotnet.Forum.Pages.CustomPartials._RulesPartialModel

@inject Services.IBBCodeRenderingService _renderingService
@inject Languages.ITranslationProvider _translationProvider

@if (!string.IsNullOrWhiteSpace(Model.ForumRules))
{
    <div class="RuleBox">
        <span>&#x26A0;&nbsp;</span>
        <b>@Html.Raw(_translationProvider.BasicText[Model.Language, "FORUM_RULES", Domain.Casing.Title])</b>
        <br />
        @Html.Raw(_renderingService.BbCodeToHtml(Model.ForumRules, string.Empty))
    </div>
}
else if (!string.IsNullOrWhiteSpace(Model.ForumRulesLink))
{
    <div class="RuleBox">
        <a href="@Html.Raw(Model.ForumRulesLink)" target="_blank">
            &#x26A0;&nbsp;
            <b>@Html.Raw(_translationProvider.BasicText[Model.Language, "FORUM_RULES", Domain.Casing.Title])</b>
        </a>
    </div>
}