@model PhpbbInDotnet.Forum.Pages.CustomPartials._RulesPartialModel

<style>
    .RuleBox {
        background-color: #ffebee;
        color: #BC2A4D;
        padding: 10px;
        margin: 10px
    }
</style>

@if (!string.IsNullOrWhiteSpace(Model.ForumRules))
{
    <div class="RuleBox">
        <span>&#x26A0;&nbsp;</span>
        <b>Reguli forum</b>
        <br />
        @Html.Raw(Model.ForumRules)
    </div>
}
else if (!string.IsNullOrWhiteSpace(Model.ForumRulesLink))
{
    <div class="RuleBox">
        <a href="@Model.ForumRulesLink">
            &#x26A0;&nbsp;
            <b>Reguli forum</b>
        </a>
    </div>
}