.PostingControls {
    display: inherit;
}

    .PostingControls > input, .PostingControls > select {
        margin-top: 5px;
    }

.Popup {
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;
    font-size: 1em;
    display: none;
}

.PollInput {
    width: 69%;
}

.BbCodeButton {
    width: auto !important;
    color: #000;
}

.InputBox {
    background-color: #FFFFFF;
    border: 1px solid #c0c0c0;
    color: #333333;
    padding: 2px;
    cursor: text;
    float: left;
    max-height: 40vh;
}

.InputBox:hover {
    border-color: #11A3EA;
}

.InputBox:hover {
    border: 1px solid #eaeaea;
    border-top-color: rgb(234, 234, 234);
    border-right-color: rgb(234, 234, 234);
    border-bottom-color: rgb(234, 234, 234);
    border-left-color: rgb(234, 234, 234);
}

.ColorPalette {
    vertical-align: middle;
    display: none;
    border: none;
    border-collapse: collapse;
    padding: 1px;
    margin: 1px;
    line-height: 1em;
}

.SmileyBox {
    float: right;
    width: 20%;
    clear:right;
}

.PostingControlsButton {
    display: none;
}

.PostingControlsSpacer {
    display: block;
}

.Hide960 {
    display: inline-block;
}

.Hide960Flex {
    display: flex;
}

.Show960 {
    display: none !important;
}

.PostingButton {
    margin-top: 5px;
    height: 30px;
    padding: 0px 8px 0px 8px;
}

.HorizontalScrollPanel {
    height: 250px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    scroll-behavior: smooth;
}

@media (max-width: 960px) {

    .PostingControls {
        display: none;
    }

    .PostingControlsButton {
        display: block;
    }

    .PostingControlsSpacer {
        display: none;
    }

    .Hide960 {
        display: none !important;
    }

    .Hide960Flex {
        display: none !important;
    }

    .Show960 {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .PollInput {
        width: 100%;
    }
}

