.PageNum {
    display: inline-block;
    background-color: gainsboro;
    padding: 2px;
    white-space: nowrap;
    line-height: 1.2em !important;
}

.PaginationControls {
    display: none;
}

.PaginationHolder {
    width: 100%;
    clear: both;
    line-height: 50px;
    display: flex;
    height: min-content;
    /*padding-top:10px;
    padding-bottom: 10px;*/
}

.LeftArrow {
    width: 18%;
    min-width: max-content;
    max-width: max-content;
    text-align: left;
    float: left;
}

.RightArrow {
    width: 18%;
    min-width: max-content;
    max-width: max-content;
    text-align: right;
    float: right;

}

.ControlsMiddleFull {
    /*width:64%;
    min-width:max-content;*/
    text-align: center;
    float: left;
    vertical-align: middle;
    flex:auto;
    height: min-content;
}

.ControlsMiddleCollapsed {
    width: 100%;
    text-align: center;
    clear: both;
    vertical-align: middle;
    display: none;
    line-height: 1.1em;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}

.Filler {
    display: none;
}

@media (max-width: 768px) {
   
    .ControlsMiddleFull {
        display: none;
    }

    .PaginationHolder {
        line-height: 0px;
    }

    .ControlsMiddleCollapsed {
        display: block;
    }

    .Filler {
        display: inline;
        flex: auto;
    }
}
