body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

blockquote {
    background-color: #fef6e9 !important;
}

.ForumListRow {
    width: 100%;
    border-radius: 5px;
    border: solid 1px black;
    display: block;
    vertical-align: top;
    padding: 0.5em;
    display: table;
    margin-top:5px;
}

.ForumListRowCategory {
    width: 100%;
    border-radius: 5px;
    border: solid 1px black;
    display: block;
    vertical-align: top;
    padding: 0.5em;
    display: table;
    margin-top: 5px;
    background-color: #dbf5fe;
}

.ForumListLeft {
    width: 70%;
    /*float: left;*/
    height: 2.5em;
    display: inline-block;
    vertical-align: top;
    display: table-cell;
}

.ForumListLeft img {
    max-width: 900px;
    max-height: 600px;
    width: auto;
    height:auto;
}

.ForumListRight {
    width: 25%;
    /*float: right;*/
    height: 2.5em;
    display: inline-block;
    vertical-align: top;
    display: table-cell;
    padding-left:30px;
}

.PostTitle {
    font-size: 1.2em;
    font-weight:bold;
}

.clear {
    clear: both;
}

.Image {
    max-width: 100%;
    max-height:100%;
}

.AttachBox {

    text-align:center;
    vertical-align: central;
    border-radius: 5px;
    border: solid 1px black;
    background-color: aliceblue;
}
