@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-image: url('../images/bg.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Ubuntu;
    font-size: 1.5em;
}

h3 {
    margin-top: 0px !important;
}

.body-content {
    padding: 15px 15px;
    background-color: white;
    max-width: 100vw;
}

.size1300 {
    width: 80% !important;
}

.navbar {
    background-image: url('../images/bg.gif');
    background-repeat: repeat;
    border: none !important;
    padding-bottom: 10px;
}

.navbar li > a {
    color: white !important;
}

.navbar li:after {
    content: "\A" !important;
    white-space: pre !important;
}

blockquote {
    background-color: #fef6e9 !important;
}

.Color0 {
    background-color: #eaf4f4;
}

.Color1 {
    background-color: #f8faf9;
}

.ForumListRow {
    width: 100%;
    max-width: 100vw;
    display: flex;
    vertical-align: top;
    padding: 0.5em;
    height:auto;
}

.RowMargin {
    margin-top: 5px;
}

.Unread {
    border: solid 2px #ffcc00 !important;
    background-color: #fffcf2 !important;
}

.Highlight {
    border: solid 5px #87ceeb;
}

.ForumListRowCategory {
    width: 100%;
    display: block;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: table;
    margin-top: 5px;
    /*background-color: #dbf5fe;*/
    /*font-weight: bold;*/
    background-image: linear-gradient(#4478bc, #255391);
    color: white;
    font-size: 1.1em;
}

.ForumContent {
    /*width: 68%;*/
    height: auto;
    vertical-align: top;
    flex: 1;
}

/*.ForumContent div > img {
    max-width: 900px;
    max-height: 600px;
    width: auto;
    height: auto;
}*/

.Summary {
    min-width: 270px;
    max-width:270px;
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    /*padding-left: 30px;
    padding-right: 20px;*/
    list-style-type: none;
    margin-bottom: 0px !important;
    white-space: nowrap;
}

.FlexRight {
    margin-left: auto;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 0px;
}

.FlexLeft {
    margin-right: auto;
    margin-left: 0px;
    padding-right: 15px;
    padding-left: 0px;
}

.VerticalContent {
    display: flex; /*inline-block;*/
    flex-direction: column;
    margin-bottom: 0px !important;
}

.Summary img {
    max-height: 200px;
    max-width: 200px;
}

.PostActions {
    display: inline-flex;
    margin-bottom: 0px;
    padding-left: 7px;
    padding-bottom: 7px;
}

.PostActions li:after {
    /*content: '|';*/
    content: '\2022';
    padding-right: 10px;
    padding-left: 10px;
}

.PostActions li:last-child:after {
    content: '';
}

.CollapsedMenu {
    display: none;
    border-radius: 5px;
    border: solid 1px black;
    float: right;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.CollapsedActions {
    display: none;
    cursor: pointer;
}

.PostTitle {
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    text-overflow: ellipsis;
}

.clear {
    clear: both;
}

.Image {
    max-width: 100%;
    max-height: 100%;
}

.AttachBox {
    text-align: center;
    vertical-align: central;
    border-radius: 5px;
    border: solid 1px black;
    background-color: aliceblue;
}

textarea {
    width: 60%;
    padding: 2px;
    font-size: 1em;
    line-height: 1.4em;
}

.AttachFieldsetDt {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
    width: 20%;
}

.AttachFieldsetDd {
    margin-left: 0px;
}

label {
    text-decoration: none !important;
    font-weight: normal !important;
}

.validation {
    margin-left: 30px;
    color: red;
    display:block;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

.formtable {
    table-layout: auto;
}

.formtable tr td {
    padding: 10px;
    white-space: nowrap;
}

.formtable tr td:last-child {
    width: 100%;
}

.nav {
    float: right;
}

.headerImg {
    width: 682px;
    height: 100px;
    background-image: url("../images/forumlogo-full.png");
    background-size: contain;
    background-position: left;
}

.paginationControls {
    display: none;
}

.posthilit {
    background-color: #F3BFCC;
    color: #BC2A4D;
}

#paginationControlsCollapsed {
    display: none;
}

#paginationControlsFull {
    display: inline;
}

.Caption {
    font-style: italic;
    font-size: 0.8em;
}

.Signature {
    margin-top: auto;
    display: inline-block;
    /*position: absolute;
    bottom: 0px;
    margin-top: auto;*/
}

.PostFooter {
    margin-top: auto;
    position: relative;
}

.Shortcuts {
    padding-left: 0px !important;
}

.Shortcuts li {
    display: inline;
    white-space: nowrap;
}

.Shortcuts li:after {
    content: " \2022 ";
}

.Shortcuts li:last-child:after {
    content: none;
}

.Hide1300 {
    display: inline-block;
}

.Show1300 {
    display: none;
}

.InputTable {
    vertical-align: middle;
    display: table;
    border: none;
}

.InputTable thead tbody tr {
    width: 100%;
}

@media (max-width: 768px) {
    .headerImg {
        width: 128px;
        height: 69px;
        background-image: url("../images/forumlogo-small.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }

    .Summary {
        display: none;
        position: absolute;
        clear:both;
        width: auto !important;
        height: auto !important;
        border-radius: 5px;
        border: solid 1px black;
        background-color:aliceblue;
        padding:5px !important;
    }

    .Summary img{
        display: none;
    }

    .ForumContent{
        width:100%;
        display:inline-block;
    }

    .Signature {
        display: none;
    }

    .CollapsedMenu {
        display: inline-block;
    }

    .PostTitle {
        margin-right: 10px;
    }

    #paginationControlsCollapsed {
        display: inline;
    }

    #paginationControlsFull {
        display: none;
    }
}

@media (max-width:1160px) and (min-width:769px) {
    .headerImg {
        width: 325px;
        height: 77px;
        background-image: url("../images/forumlogo-medium.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }
}

@media (max-width: 1300px) {
    .size1300 {
        width: 95% !important;
    }

    .Hide1300 {
        display: none;
    }

    .Show1300 {
        display: inline-block;
    }

    .Shortcuts li:after {
        content: "\A";
        white-space: pre;
    }

    .Shortcuts {
        list-style: disc;
        line-height: 1.75em;
        word-break: break-all !important;
    }

    .PostActions {
        display: none;
    }

    .PostActions li {
        text-indent: 2em;
        padding-top: 5px;
    }

    .PostActions li:after {
        content: '';
    }

    .CollapsedActions {
        display: inline-block;
        margin: 7px 7px;
    }
}

@media (min-width: 1301px) {
    .Hide1300 {
        display: inline-block !important;
    }

    .Show1300 {
        display: none !important;
    }
}
