body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

blockquote {
    background-color: #fef6e9 !important;
}

.ForumListRow {
    width: 100%;
    max-width: 100vw;
    border-radius: 5px;
    border: solid 1px black;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
    margin-top: 5px;
    height:auto;
}

.Unread {
    border: solid 2px #ffcc00;
    background-color: #fffcf2;
}

.ForumListRowCategory {
    width: 100%;
    border-radius: 5px;
    border: solid 1px black;
    display: block;
    vertical-align: top;
    padding: 0.5em;
    display: table;
    margin-top: 5px;
    background-color: #dbf5fe;
}

.ForumListLeft {
    width: 70%;
    height: auto;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 0px !important;
}

.ForumListLeft img {
    max-width: 900px;
    max-height: 600px;
    width: auto;
    height: auto;
}

.ForumListRight {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    display:inline-block;
    padding-left: 30px;
    list-style-type:none;
    margin-bottom: 0px !important;
}

.ForumListCollapsed {
    display: none;
    border-radius: 5px;
    border: solid 1px black;
    float:right;
    padding:3px;
    cursor:pointer;
}

.PostTitle {
    font-size: 1.2em;
    font-weight: bold;
    float:left;
}

.clear {
    clear: both;
}

.Image {
    max-width: 100%;
    max-height: 100%;
}

.AttachBox {
    text-align: center;
    vertical-align: central;
    border-radius: 5px;
    border: solid 1px black;
    background-color: aliceblue;
}

input.button2 {
    width: auto !important;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #000;
}

.inputbox:hover {
    border-color: #11A3EA;
}

.inputbox:hover {
    border: 1px solid #eaeaea;
    border-top-color: rgb(234, 234, 234);
    border-right-color: rgb(234, 234, 234);
    border-bottom-color: rgb(234, 234, 234);
    border-left-color: rgb(234, 234, 234);
}

.inputbox {
    background-color: #FFFFFF;
    border: 1px solid #c0c0c0;
    color: #333333;
    padding: 2px;
    cursor: text;
    float: left;
    width: 79%;
}

.smileybox {
    float: right;
    width: 20%;
}

textarea {
    width: 60%;
    padding: 2px;
    font-size: 1em;
    line-height: 1.4em;
}

.AttachFieldsetDt {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
    width: 20%;
}

.AttachFieldsetDd {
    margin-left: 0px;
}

.ColorPaletteTable {
    border-collapse: collapse;
    padding: 1px;
    margin: 1px;
    line-height: 1em;
}

label {
    text-decoration: none !important;
    font-weight: normal !important;
}

.validation {
    margin-left: 30px;
    color: red;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

.formtable {
    table-layout: auto;
}

.formtable tr td {
    padding: 10px;
    white-space: nowrap;
}

.formtable tr td:last-child {
    width: 100%;
}

.nav {
    float:right;
}

.postingControls {
    display:inherit;
}

.body-content {
    max-width:100vw;
}

.headerImg {
    width:auto;
    height:auto;
}

@media (max-width: 768px) {
    .ForumListRight {
        display: none;
        position: absolute;
        clear:both;
        width: auto !important;
        height: auto !important;
        border-radius: 5px;
        border: solid 1px black;
        background-color:aliceblue;
        padding:5px !important;
    }
    .ForumListLeft{
        width:90vw;
        display:inline-block;
    }

    .ForumListCollapsed {
        display:inline-block;
    }

    .postingControls {
        display:none;
    }
    .headerImg {
        width: 90vw;
        height: auto;
    }

    .inputbox {
        width:100%;
    }
}

@media (max-width:1000px) {
    .headerImg {
        width: 50vw;
        height: auto;
    }
}
