@model Serverless.Forum.Pages.CustomPartials._AdminLogsPartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h4>Administrare loguri</h4>