@model Serverless.Forum.Pages.CustomPartials._AdminUsersPartialModel

<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
        background-color: #555;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .message {
        display: none;
        color: white;
        font-weight: bold;
        width: 100%;
        padding: 10px;
    }

    .success {
        display: block;
        background-color: darkgreen;
    }

    .fail {
        display: block;
        background-color: darkred;
    }
</style>

<span class="@Model.MessageClass">@Model.Message</span>

<h4>Utilizatori inactivi</h4>

<form method="post" id="userManagement" asp-page-handler="UserManagement">
    <input type="hidden" name="action" id="action" />
    <input type="hidden" name="id" id="id" />
</form>

@await Html.PartialAsync(
    "_AdminUsersSummaryPartial",
    new _AdminUsersSummaryPartialModel(
        Model.DateFormat,
        await Model.GetInactiveUsersAsync()
    ),
    ViewData
)

<h4>Caută utilizatori</h4>
<form method="post" id="userSearch" asp-page-handler="UserSearch">
    <table style="border:none; padding:0px; margin:0px">
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                Nume utilizator
            </td>
            <td>
                <input type="text" name="username" id="username" />
            </td>
        </tr>
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                E-mail
            </td>
            <td>
                <input type="text" name="email" id="email" />
            </td>
        </tr>
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                Id
            </td>
            <td>
                <input type="text" name="userid" id="userid" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:5px; font-weight:bold; text-align: center">
                <input type="submit" value="Caută" />
            </td>
        </tr>
    </table>
</form>

@if (Model.SearchResults.Any())
{
    @await Html.PartialAsync(
        "_AdminUsersSummaryPartial",
        new _AdminUsersSummaryPartialModel(
            Model.DateFormat,
            Model.SearchResults    
        ),
        ViewData
    );
}

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    function submitUserForm(userId, userName, action) {
        msg = "Am primit comanda '" + action + "' pentru utilizatorul '" + userName + "'. Sunteți sigur că doriți să continuați cu execuția acestei comenzi?";

        if (confirm(msg)) {
            submitForm("userManagement", action, userId);
        }
    }
</script>