@model Serverless.Forum.Pages.CustomPartials._ForumTreePartialModel
@using Serverless.Forum.Contracts

<style>
    ul, #myUL {
        list-style-type: none;
    }

    #myUL {
        margin: 0;
        padding: 0;
    }

    .searchCaret {
        cursor: pointer;
        user-select: none;
        width: 100%;
        padding: 3px 3px;
    }

    .searchCaret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    .searchCaret-down::before {
        transform: rotate(90deg);
    }

    .nestedTreeNode {
        display: none;
    }

    .activeTreeNode {
        display: block;
    }

    .treeNode {
        padding: 3px 3px;
        display: inherit;
        width: 100%;
        cursor: default;
    }

    .selectedTreeNode {
        background-color: deepskyblue;
    }
</style>
@functions {
    async Task showTreeNode(ForumDisplay cur)
    {
        if (cur == null)
        {
            return;
        }

        var treeNodeClass = cur.Id == Model.ForumId ? "treeNode selectedTreeNode" : "treeNode";
        var topics = cur?.Topics ?? new List<TopicDisplay>();

        if (cur.ChildrenForums?.Any() ?? false)
        {
            await Output.WriteAsync(
                $"<li class='{treeNodeClass}'>" +
                    $"<span id='treeNode{cur.Id}' class='searchCaret' onclick='select(this, {cur.Id}, {Json.Serialize(topics)});'>{cur.Name}</span>" +
                    $"<ul class='nestedTreeNode' id='child{cur.Id}'>"
            );
            foreach (var child in cur.ChildrenForums ?? new List<ForumDisplay>())
            {
                await showTreeNode(child);
            }
            await Output.WriteAsync(
                    "</ul>" +
                "</li>"
            );
        }
        else
        {
            await Output.WriteAsync(
                $"<li id='treeNode{cur.Id}' class='{treeNodeClass}' onclick='select(this, {cur.Id}, {Json.Serialize(topics)});'>{cur.Name}</li>"
            );
        }
    }
}
<ul id="myUL">
    @{await showTreeNode(Model.Forums);}
</ul>



<script>
    //var allInfo = @Json.Serialize(Model.Forums);
    var path = @Json.Serialize(Model.PathToForumOrTopic);
    var topicId = @Json.Serialize(Model.TopicId);

    function select(obj, forumId, topics) {
        var toggler = document.getElementsByClassName("selectedTreeNode");

        for (var i = 0; i < toggler.length; i++) {
            toggler[i].classList.remove("selectedTreeNode")
        }

        var parent = document.getElementById("child" + forumId);
        if (parent != null) {
            parent.classList.toggle("activeTreeNode");
        }
        obj.classList.toggle("searchCaret-down");
        obj.classList.toggle("selectedTreeNode");

        if (typeof forumSelectCallback === "function") {
            forumSelectCallback(forumId);
        }

        if (typeof topicSelectCallback === "function") {
            topicSelectCallback(topics);
        }
    }

    $(document).ready(function () {
        for (var i = 0; i < path.length; i++) {
            document.getElementById("treeNode" + path[i]).click();
        }

        if (typeof topicSelectInit === "function") {
            topicSelectInit(topicId);
        }
    });

</script>
