@model Serverless.Forum.Pages.CustomPartials.Admin._AdminForumsPartialModel

<style>
    #forumFields {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.90);
        width: 75%;
        height: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: scroll;
        display: block;
        border: solid 1px black;
        padding: 10px;
    }
</style>

<div style="float:left">
    <h4>Administrare forumuri</h4>
</div>

<form method="post" asp-page-handler="ShowForum">
    <div style="float:right; width:200px;">
        <input type="submit" value="Manage selected forum" style="position:fixed; width:auto" />
    </div>
    <input id="forumId" name="forumId" type="hidden" />
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>

<script type="text/javascript">
    //forum tree callback
    function forumSelectCallback(forumId) {
        var forumInput = document.getElementById("forumId");
        if (forumInput != null) {
            forumInput.value = forumId;
        }
    }
</script>

@await Html.PartialAsync(
    "_ForumTreePartial",
     new CustomPartials._ForumTreePartialModel
     {
         Forums = Model.ForumTree,
         ForumId = Model.SelectedForumId,
         TopicId = null,
         PathToForumOrTopic = Model.PathInTree
     },
    ViewData
)

@if (Model.Forum != null)
{
<form id="forumFields" method="post" asp-page-handler="ForumManagement">
    <h4 style="float:left">Administrează forum - @Model.Forum.ForumName</h4>
    <div style="float:right; cursor:pointer; font-weight:bold" onclick="showElement('forumFields')">Închide [X]</div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <table style="border:none; padding:0px; margin:0px">
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                Nume forum
            </td>
            <td>
                <input asp-for="Forum.ForumName" />
            </td>
        </tr>
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                Descriere forum
            </td>
            <td>
                <textarea asp-for="Forum.ForumDesc"></textarea>
            </td>
        </tr>
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                Ordonează sub-forumuri
            </td>
            <td>
                <div id="siblings">
                    @foreach (var child in Model.Children)
                    {
                        <div style="padding:5px; margin:5px; border: solid 1px black; border-radius:5px; cursor:move">
                            @child.ForumName
                            <input type="hidden" name="childrenForums" value="@child.LeftId" />
                        </div>
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                Permisiuni
            </td>
            <td>
                <textarea asp-for="Forum.ForumDesc"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="Salvează modificările" />
    <input asp-for="Forum.ForumId" type="hidden" name="forumId" />
    <input asp-for="Forum" type="hidden" name="changedForum" />
    <script type="text/javascript">
        $(function () {
            $("#siblings").sortable({
                axis: 'y'
            });
        });
    </script>
</form>
}