@model Serverless.Forum.Pages.CustomPartials.Admin._AdminUsersPartialModel
@inject Services.AdminUserService _adminUserService;

<h4>Utilizatori inactivi</h4>

<form method="post" id="userManagement" asp-page-handler="UserManagement">
    <input type="hidden" name="userAction" id="userAction" />
    <input type="hidden" name="userId" id="userId" />
</form>

@await Html.PartialAsync(
    "_AdminUsersSummaryPartial",
    new _AdminUsersSummaryPartialModel(
        Model.DateFormat,
        await _adminUserService.GetInactiveUsersAsync()
    ),
    ViewData
)

<h4>Caută utilizatori</h4>
<form method="post" id="userSearch" asp-page-handler="UserSearch">
    <table class="mainTable">
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                Nume utilizator
            </td>
            <td>
                <input type="text" name="username" id="username" />
            </td>
        </tr>
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                E-mail
            </td>
            <td>
                <input type="text" name="email" id="email" />
            </td>
        </tr>
        <tr>
            <td style="padding:5px; font-weight:bold; text-align: right">
                Id
            </td>
            <td>
                <input type="text" name="userid" id="userid" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:5px; font-weight:bold; text-align: center">
                <input type="submit" value="Caută" />
            </td>
        </tr>
    </table>
</form>

@if (Model.SearchResults.Any())
{
    @await Html.PartialAsync(
        "_AdminUsersSummaryPartial",
        new _AdminUsersSummaryPartialModel(
            Model.DateFormat,
            Model.SearchResults
        ),
        ViewData
    );
}

<script type="text/javascript">
    function submitUserForm(userId, userName, action) {
        msg = "Am primit comanda '" + action + "' pentru utilizatorul '" + userName + "'. Sunteți sigur că doriți să continuați cu execuția acestei comenzi?";

        if (confirm(msg)) {
            document.getElementById("userAction").value = action;
            document.getElementById("userId").value = userId;
            document.getElementById("userManagement").submit();
        }
    }
</script>