@page
@model object
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Întrebări frecvente</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Cum găsesc paginile specifice forumului și profilului meu?</h3>
<p>
    Cele mai importante legături se află în partea de sus a oricărei pagini pe care o vizitezi:
</p>
<img src="~/images/desktop-3.jpg" style="max-width:100%" />
<p>
    <ol type="1">
        <li>
            Meniul generic - indică dacă ești autentificat și oferă opțiuni pentru logare / delogare. Conținutul diferă pentru utilizatorii înregistrați, față de vizitatori. <br />
            Legătura „Contul meu” trimite către profilul utilizatorului.
        </li>
        <li>
            Linkuri utile și scurtături specifice „Metrou Ușor”. Acestea sunt în mod normal restrânse și se expandează la un click.
        </li>
        <li>
            Meniul dedicat utilizatorului înregistrat. Acesta este în mod normal restrâns și se expandează la un click. Acest meniu nu este disponibil vizitatorilor.
        </li>
    </ol>
</p>
<p></p>
<p>&bull; Meniurile 2 și 3 pot fi expandate pe rând</p>
<img src="~/images/desktop-5.jpg" style="max-width:100%" />
<br /><br />
<img src="~/images/desktop-6.jpg" style="max-width:100%" />
<br />
<p>&bull; Meniul 1 este restrâns pe dispozitivele înguste (telefoane, posibil unele tablete), însă se expandează la rându-i la un tap / click. Meniurile 2 și 3 sunt restrânse, însă pot fi expandate la nevoie, la fel ca pe versiunea desktop.</p>
<img src="~/images/mobil-2.jpg" style="max-width:100%" />
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Cum navighez printre sub-forumuri și subiecte?</h3>
<p>
    &bull; Legătură directă către (sub-)forumul părinte (1) în partea de sus, dar și meniul dedicat utilizatorului, prezentat anterior (2): <br />
    <img src="~/images/viewforum-2.jpg" style="max-width:100%" /><br /><br />
    &bull; Legături către prima pagină (1) și forumul părinte (2) dar și un meniu interactiv pentru ales destinația oriunde în forum (3):
    <img src="~/images/navigator.jpg" style="max-width:100%" /><br />
    Acest navigator permite expandarea tuturor sub-forumurilor care au sub-forumuri copii. Orice sub-forum poate fi selectat drept destinație, indiferent dacă are descendenți sau nu.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Cum navighez în interiorul unui subiect?</h3>
<p>
    Utilizatorii înregistrați pot vedea ce subiecte sunt necitite (conțin mesaje noi). Acestea sunt evidențiate cu portocaliu deschis precum în imagine (1).<br />
    Subiectele citite sunt afișate normal, cu albastru (2). Astfel sunt văzute și de către vizitatori.<br />
    <img src="~/images/viewtopic-1.jpg" style="max-width:100%" /><br /><br />
    În cazul în care subiectul este citit (2), titlul acestuia duce către prima pagină.<br />
    Dacă este necitit, atunci titlul acestuia, evidențiat cu portocaliu (1), duce către primul mesaj necitit.<br />
    În ambele situații, sub titlu este desfărșurată paginarea subiectului (3), atunci când acesta are mai mult de o pagină de mesaje scrise.<br />
    În ambele situații, în partea dreaptă este afișat un rezumat al subiectului, care include și o legătură către ultimul mesaj. Acest rezumat NU este afișat pe dispozitivele înguste (telefoane, tablete):<br /><br />
    <img src="~/images/viewtopic-2.jpg" style="max-width:100%" />
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Ce informații sunt disponibile pentru fiecare mesaj postat?</h3>
<p>
    Informațiile disponibile sunt autorul, data postării și posibilități de contactare a autorului, unde acestea există.<br />
    Pe versiunea desktop (disponibilă pentru ecranele late), informațiile despre fiecare mesaj sunt afișate în stânga: <br />
    <img src="~/images/viewtopic-3.jpg" style="max-width:100%" /><br /><br />
    Însă, pe versiunea pentru mobil (pentru ecranele înguste), aceste informații sunt ascunse în mod implicit și pot fi afișate / ascunse la loc (2) apăsând pe numele autorului (1): <br />
    <img src="~/images/viewtopic-4.jpg" style="max-width:100%" />
</p>


