@page
@model PhpbbInDotnet.Forum.Pages.ForumLoginModel

<h2>Forum Login - @Model.ForumName</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table border="0">
        <tr>
            <td width="100px" height="30px" valign="middle">Password:</td>
            <td width="100px" height="30px" valign="middle"><input type="password" asp-for="Password" /></td>
        </tr>
    </table>
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="ForumId" />
    <input type="submit" value="Login" />
    @Html.AntiForgeryToken()
</form>
<div style="visibility:@(string.IsNullOrEmpty(Model.ErrorMessage) ? "hidden" : "visible")">@Model.ErrorMessage</div>