@page
@model IndexModel

@using Domain
@using Microsoft.Extensions.Configuration

@inject IConfiguration _config
@inject Services.IForumTreeService _forumService

@{
    var CurrentUser = Model.GetCurrentUser();
    var Lang = Model.GetLanguage();
    var UserDateFormat = CurrentUser?.UserDateFormat ?? Model.LanguageProvider.GetDefaultDateFormat(Lang);
    ViewData["Title"] = Model.LanguageProvider.BasicText[Lang, "HOME", Casing.Title];
    ViewData["BreadCrumbs"] = _forumService.GetJSLDBreadCrumbsObject((await Model.GetForumTree(false, false)).Tree, 0);
}

@if (!CurrentUser!.IsAnonymous)
{
    <form asp-page-handler="MarkForumsRead" method="post" name="MarkForumsRead">
        @Html.AntiForgeryToken()
    </form>
    @await Html.PartialAsync(
        "_HeaderLinksPartial",
        new PhpbbInDotnet.Forum.Pages.CustomPartials._HeaderLinksPartialModel(Lang, true, $"<a href=\"javascript:MarkForumsRead.submit()\">{Model.LanguageProvider.BasicText[Lang, "MARK_FORUMS_READ", Casing.Title]}</a>"),
        ViewData
    )
}

@if (_config.GetValue<bool?>("DisplayExternalLinksMenu") ?? false)
{
    if (!CurrentUser.IsAnonymous)
    {
        <span>&nbsp;&bull;&nbsp;</span>
    }
    @Html.Raw(Model.LanguageProvider.ExternalLinks[Lang])
}

<div id="target"></div>

<script>
    $(window).on('load', function () {
        let header = $('#headerLinks');
        if (header.length) {
            let element = header.detach();
            $('#target').append(element);
        }
    });
</script>

@await Html.PartialAsync(
    "_ForumDisplayPartial",
    new PhpbbInDotnet.Forum.Pages.CustomPartials._ForumDisplayPartialModel(0, Model.Tree!, UserDateFormat, false, CurrentUser!, false, Lang),
    ViewData
)
