@page
@model IndexModel

@using Utilities

@{
    var CurrentUser = await Model.GetCurrentUserAsync();
    var Lang = await Model.GetLanguage(); 
    var UserDateFormat = CurrentUser?.UserDateFormat ?? Model.LanguageProvider.GetDefaultDateFormat(Lang);
    ViewData["Title"] = Model.LanguageProvider.BasicText[Lang, "HOME", Casing.Title];
}

@if (!CurrentUser.IsAnonymous)
{
    <form asp-page-handler="MarkForumsRead" method="post" name="MarkForumsRead">
        @Html.AntiForgeryToken()
    </form>
    @await Html.PartialAsync(
        "_HeaderLinksPartial",
        new PhpbbInDotnet.Forum.Pages.CustomPartials._HeaderLinksPartialModel(Lang, true, $"<a href=\"javascript:MarkForumsRead.submit()\">{Model.LanguageProvider.BasicText[Lang, "MARK_FORUMS_READ", Casing.Title]}</a>"),
        ViewData
    )
    <span>&nbsp;&bull;&nbsp;</span>
}
@*specific metrouusor*@
<span onclick="toggleHeaderLinks('customLinks', 'headerLinks');" id="customLinksButton" class="MyButton MyMiniButton" style="line-height:1.1em">
    &#x1F310;&nbsp;Site-urile „Metrou Ușor”
</span>

<ul class="Shortcuts" style="display:none" id="customLinks">
    <li>
        <span> &nbsp;</span>
        <a href="https://metrouusor.com" target="_blank">Asociația „Metrou Ușor”</a>
    </li>
    <li>
        <span> &nbsp;</span>
        <a href="https://www.facebook.com/MetrouUsor/" target="_blank">Facebook</a>
    </li>
    <li>
        <span> &nbsp;</span>
        <a href="https://youtube.com/channel/UCczAlitk6NaUjQsbtCSdEjA" target="_blank">YouTube</a>
    </li>
    <li>
        <span> &nbsp;</span>
        <a href="https://campaniamea.declic.ro/petitions/petitie-pentru-infiintarea-muzeului-transportului-bucurestean" target="_blank">Inițiativa pentru Muzeul transportului bucureștean</a>
    </li>
    <li>
        <span> &nbsp;</span>
        <a href="https://metrouusor.com/Content/implica-te/directioneaza-2-din-impozit.html" target="_blank">2% pentru Asociația „Metrou Ușor”</a>
    </li>
</ul>

<div id="target"></div>

<script>
    $(document).ready(function () {
        window.onload = function () {
            var header = $('#headerLinks');
            if (header.length) {
                var element = header.detach();
                $('#target').append(element);
            }
        }
    });
</script>

@await Html.PartialAsync(
    "_ForumDisplayPartial",
    new PhpbbInDotnet.Forum.Pages.CustomPartials._ForumDisplayPartialModel(0, Model.Tree, UserDateFormat, false, CurrentUser, false, Lang),
    ViewData
)
