@page
@model IndexModel

@using Domain
@using CustomPartials
@using Microsoft.Extensions.Configuration

@inject IConfiguration _config
@inject Services.IForumTreeService _forumService

@{
    var CurrentUser = Model.ForumUser;
    var Lang = Model.Language;
    var UserDateFormat = CurrentUser.UserDateFormat ?? Model.TranslationProvider.GetDefaultDateFormat(Lang);
    ViewData["Title"] = Model.TranslationProvider.BasicText[Lang, "HOME", Casing.Title];
    ViewData["BreadCrumbs"] = _forumService.GetBreadCrumbs(await _forumService.GetForumTree(CurrentUser, false, false), 0);
    var additionalHeaderLinks = new List<string>();
}

@if (!CurrentUser.IsAnonymous)
{
    <form asp-page-handler="MarkForumsRead" method="post" name="MarkForumsRead">
        @Html.AntiForgeryToken()
    </form>
    additionalHeaderLinks.Add($"<a href=\"javascript:MarkForumsRead.submit()\">{Model.TranslationProvider.BasicText[Lang, "MARK_FORUMS_READ", Casing.Title]}</a>");
}

@await Html.PartialAsync("_HeaderLinksPartial", new _HeaderLinksPartialModel(Lang, CurrentUser.IsAnonymous, additionalHeaderLinks), ViewData)

@if (_config.GetValue<bool?>("DisplayExternalLinksMenu") ?? false)
{
    if (!CurrentUser.IsAnonymous)
    {
        <span>&nbsp;&bull;&nbsp;</span>
    }
    @Html.Raw(Model.TranslationProvider.ExternalLinks[Lang])
}

<div id="target"></div>

<script>
    $(window).on('load', function () {
        let header = $('#headerLinks');
        if (header.length) {
            let element = header.detach();
            $('#target').append(element);
        }
    });
</script>

@await Html.PartialAsync("_ForumDisplayPartial", new _ForumDisplayPartialModel(0, Model.Tree!, UserDateFormat, false, CurrentUser!, false, Lang), ViewData)
