@page
@model PhpbbInDotnet.Forum.Pages.LogoutModel
@using Domain
@inject Languages.ITranslationProvider _translationProvider
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Pages/_Layout.cshtml";
    var lang = _translationProvider.GetValidatedLanguage(null, Model.HttpContext?.Request);
}

<h3>@_translationProvider.BasicText[lang, "LOGOUT", Casing.FirstUpper]</h3>

