@page
@model PhpbbInDotnet.Forum.Pages.LogoutModel
@using Domain

@{
    ViewData["Title"] = "Logout";
    Layout = "~/Pages/_Layout.cshtml";
}

<h3>@Model.TranslationProvider.BasicText[Model.Language, "LOGOUT", Casing.FirstUpper]</h3>

