@page
@model PhpbbInDotnet.Forum.Pages.OwnPostsModel

@using Domain
@using Objects
@using CustomPartials
@inject Services.IForumTreeService _forumService

@{

    var Lang = Model.Language;
    var DocumentTitle = Model.TranslationProvider.BasicText[Lang, "OWN_TOPICS", Casing.FirstUpper];
    ViewData["Title"] = DocumentTitle;
    Layout = "~/Pages/_Layout.cshtml";
    var currentUser = Model.ForumUser;
    var userDateFormat = currentUser.UserDateFormat ?? Model.TranslationProvider.GetDefaultDateFormat(Lang);
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/pagination.css" />
</environment>

@await Html.PartialAsync("_HeaderLinksPartial", new _HeaderLinksPartialModel(Lang, currentUser.IsAnonymous), ViewData)

<p>&nbsp;</p>
<h2>@Html.Raw(DocumentTitle)</h2>
@Html.Raw(Model.TranslationProvider.BasicText[Lang, "OWN_TOPICS_CAPTION", Casing.FirstUpper])

@if (Model.Topics.Any())
{  
    @await Html.PartialAsync(
        "_PaginationControlsPartial",
        new _PaginationControlsPartialModel(
            paginator: Model.Paginator!,
            allowPaginationChange: false,
            back: $"/OwnPosts?pageNum={Model.PageNum - 1}",
            forward: $"/OwnPosts?pageNum={Model.PageNum + 1}",
            includeEasyNavigation: false,
            language: Lang
        ),
        ViewData
    )

    <hr class="BoxSeparator" />

    @await Html.PartialAsync(
        "_TopicDisplayPartial",
        new _TopicDisplayPartialModel(currentUser, Lang, Model.Topics)
        {
            ShowPath = true
        })

    <hr class="BoxSeparator" />

    @await Html.PartialAsync(
        "_PaginationControlsPartial",
        new _PaginationControlsPartialModel(
            paginator: Model.Paginator!,
            allowPaginationChange: false,
            back: $"/OwnPosts?pageNum={Model.PageNum - 1}",
            forward: $"/OwnPosts?pageNum={Model.PageNum + 1}",
            includeEasyNavigation: true,
            language: Lang
        ),
        ViewData
    );
}
else 
{
    <p>&nbsp;</p>
    <h4>@Html.Raw(Model.TranslationProvider.BasicText[Lang, "NO_OWN_POSTS"])</h4>
    <p>&nbsp;</p>
}